* {
	margin: 0;
	padding: 0;
}

header{ background-color: white;}

.navbar{
    background: rgb(80,80,80);
    background: linear-gradient(175deg, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 100%);
}

main aside {
    background-color: coral;
   
    
}

.contenedor .footer {
    /* gradiente */
    background: rgb(0,73,83);
    background: linear-gradient(331deg, rgba(0,73,83,1) 0%, rgba(27,77,62,1) 100%);
    grid-area: footer;
    }
    
    footer p{
        color: white;
        font-weight: bold;
    }
    
    footer a {

    color: #ffffff;
    margin: 0 3rem;
    display: inline-block;
 

    }
    footer  a:hover{
        transform: scale(1.3);
        color: #ffffff;
       
    }
