//si Tienes variables van primero!!!

$color-primNabvar:rgb(80, 80, 80);
$color-secNabvar:rgba(0,0,0,1);

//Tamaños pantallas
$pantalla-celular: 576px;
$pantalla-tablet: 992px;
$pantalla-laptop: 1200px;




@import"reset/reset";
@import "header/header";
@import "footer/footer";
@import "misc/misc";

//pages

@import "pages/page-servicios.scss";
@import "pages/page-nosotros.scss";
@import "pages/page-contacto.scss";


