//si Tienes variables van primero!!!

$color-primNabvar:rgb(80, 80, 80);
$color-secNabvar:rgba(0,0,0,1);


@import"reset/reset";
@import "header/header";
@import "footer/footer";
@import "misc/misc";
@import "pages/page-servicios.scss";
@import "pages/page-nosotros.scss";
@import "pages/page-contacto.scss";


