header{ background-color: white;}

.navbar{
    background: rgb(80,80,80);
    background: linear-gradient(175deg, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 100%);
    padding: 0;
  }
  
  
  
  ul li a:hover{
      background-color: rgb(26, 77, 62);
      border: solid rgb(11, 36, 1) 2px;
      border-radius: 15%;
  }