.sombra:hover{
  transform: scale(1.03);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
  }
  
  //------  CARRUSELL  -------
  
  //--- controles colores ---
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: invert(1);
  }
  
 .carousel{
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  
  
 }


  // 