//mixin para tarjetas paginas servicios

@mixin tarjeta ($width,$heigt,$border:""){

    width: $width;
    height: $heigt;
    
    @if $border !=""{
        border: $border;
    
    }
}

.paginaServicios{


    .tarjeta-servicio {

        @include tarjeta(320px,230px,black 2px solid );
            
        background-color: #FFDEE9;
        background-image: linear-gradient(0deg, #FFDEE9 0%, #9cb4b3 100%);
    
        margin: 15px 10px ;
        border: 2px black   solid;
        height:auto;
        width: 90%;
    
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:    auto auto auto auto ;

        grid-template-areas:    "titulo "
                                "icono-servicio"
                                "contenido"
                                "boton";
    
        h3{
            grid-area: titulo;  
            margin: auto;
            text-align: center;
            padding-bottom: 15px;

            color: rgb(0, 0, 0);
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 24px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: capitalize;
        }
        p{
            grid-area: contenido;
            display: flex;
            margin: 15px 17px;
            justify-content: center;
            align-items: center;

            color: black;
            font-weight: 500;
            text-decoration: solid

        }
        img{
            
            width: 100px;
            grid-area: icono-servicio;
            display: block;
            margin: auto;
            
        }
        .botonCompra{
            display: block;
            justify-content: center;
            grid-area: boton;
            margin: 10px 50px ;

            &:hover {
            border:  2px  #0f7c0eb2  outset;
            background-color: #208f38d2;
           
            color: black;
            font-weight: 500;
            text-decoration: solid
            }
        
        }

        &:hover {
            box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
            transform: translateY(-10px);
            transition-duration: 250ms;
        
        }

    }
    
    section  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (min-width: 992px) {

        .tarjeta-servicio {

            @include tarjeta(400px,200px,black 2px solid );

            width: 50;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows:    auto auto auto  ;
        
            grid-template-areas:    "titulo  icono-servicio"
                                    "contenido icono-servicio"
                                    "contenido  boton ";
                            }

            .botonCompra{
                margin: 1px 1px ;
    }
}

    @media (min-width: 1200px) {

        .tarjeta-servicio {

            @include tarjeta(320px,230px,black 2px solid );

            margin: 20px 10px 0;
            border: 2px black   solid;
            height:auto;
            width: 40%;

            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:    auto auto auto  ;
        
            grid-template-areas:    "titulo titulo icono-servicio"
                                    "contenido contenido icono-servicio"
                                    "contenido contenido boton ";
  
                            }
    }
}

