.pagina-index{

        

        footer{
            margin-top: 15px;
        }

        .tarjetaIndex{
            
            h4{
               color: #0a4709cb;
            }

            p{
                color: black;
            }

            &:hover {
              
                transform: translateY(-7px);
                transition-duration: 250ms;
                border: red;
               
              }
        }

       
        
}
  
