.paginaContacto{

    form{
         input{
            background: rgba(50, 50, 50, 0.5)
        
                 }
         textarea{
            background-color:rgba(50, 50, 50, 0.5);
         }
    }

    .info   {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
        grid-template-areas: "icono"  "texto";

        p{
            text-decoration: none;
            display: flex;
            align-items: center;
            grid-area: "texto";
            margin-bottom: 0;
           
            font-family: verdana;
            font-weight: bold;
            text-align: center;
            font-size: 15px;
            color: rgb(255, 255, 255);
            background-color: rgba(84, 84, 84, 0.050);
            text-shadow: rgb(0, 0, 0) 2px 2px 2px;
            
            
        }

        img{
            grid-area: "icono";
            }
        
            }

    .bg_img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(../assets/img/page-contacto/background.jpg);

        background-repeat: no-repeat;
        background-size: auto
            }

    

    
}




