form > div {
    margin-top: 10px;

    :last-child{
        margin-bottom: 10px;
    }
}

//extend para tarjetas de pagina nosotros
.tarjeta{
    height: 100%;
    width: 200px;
}

.tarjeta-nosotros{
    @extend .tarjeta; 
    border: black 2px solid;
    background-color: #1bd11873;
    background-image: linear-gradient(45deg, #1bd118 0%, #1f8bcd 100%);
    h3{
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 25px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: capitalize;
}
p{
    color: black;
    font-weight: 700;
    text-decoration: solid
}
}


//mixin para tarjetas paginas servicios






@mixin tarjeta-chida ($width,$heigt,$border:""){

    width: $width;
    height: $heigt;
    
    @if $border !=""{
        border: $border;
    
    }
}

.tarjeta-servicio{
    @include tarjeta-chida(320px,230px,black 2px solid );
    
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #9cb4b3 100%);

    h4{
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 25px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: capitalize;
    }

    p{
    color: black;
    font-weight: 700;
    text-decoration: solid
    }   
}

   